.section {
    height: max-content;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 1100px;
    margin: auto;
}

.cards {
    transform: translate(0, -50%);
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    /* height: 300px; */
    aspect-ratio: 1/1;
    width: calc(100%);
    /* width: calc(1100px / 3); */
    background: #040e26;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0;
    gap: 20px;
    transform: translateX(-50px);
    opacity: 0;
}

.card:nth-child(2) {
    background: #FC5E28;
}

.text {
    width: 50%;
}

.text h2 {
    color: white;
    font-weight: 500;
    line-height: 30px;
}

.text p {
    width: 100%;
    margin-top: 10px;
    line-height: 24px;
    color: white;
    font-weight: 300;
}

.cardImage {
    /* height: 20%; */
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FC5E28;
}

.card:nth-of-type(2) .cardImage {
    background: #040e26;
}

.cardImage img {
    height: 60%;
    width: 60%;
    object-fit: cover;
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    position: relative;
}

.triangle {
    height: 125px;
    width: 125px;
    background: #FC5E28;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.aboutText {
    width: 50%;
    padding: 60px;
    padding-right: 0;
    transform: translate(0, 20px);
    opacity: 0;
}

.aboutText h2 {
    margin-top: 10px;
    font-size: 40px;
}

.aboutText span {
    color: #FC5E28;
    font-size: 13px;
    font-weight: 400;
}

.aboutImage {
    width: 50%;
    position: relative;
    height: 100%;
    /* aspect-ratio:9/16; */
}

.aboutP {
    margin: 30px 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.aboutP img {
    height: 50px;
    width: 50px;
}

.aboutP p {
    font-weight: 600;
    font-size: 18px;
}

.aboutImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutText>p {
    color: grey;
    font-weight: 400;
    line-height: 150%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110px;
    width: 80px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background: #FC5E28;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle img {
    height: 60px;
    width: 60px;
}

.ad {
    width: 100%;
    height: 240px;
    position: relative;
    margin-top: 100px;
}

.adImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: #040e26b4;
}

.adImage img {
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.adText {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.adText h2 {
    font-weight: 700;
    color: white;
}

.adText p {
    color: white;
    font-weight: 400;
}

.adText button {
    border: none;
    background: #FC5E28;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    border-radius: 3px;
}

@media screen and (width<1100px) {
    .wrapper {
        width: 990px;
    }

    .aboutText h2 {
        font-size: 28px;
    }

    .aboutText>p {
        line-height: 120%;
    }
}

@media screen and (width<990px) {
    .wrapper {
        width: 95%;
    }

    .aboutImage {
        aspect-ratio: 16/9;
    }

    .triangle {
        height: 100px;
        width: 100px;
    }

    .middle {
        top: 15%;
    }

    .aboutText {
        padding-top: 0;
    }

    .card {
        gap: 10px;
        padding: 0px 10px;
        padding-top: calc(20%);
    }

    .text {
        width: calc(100%);
    }

    .cards {
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        transform: translate(0);
    }

    .card {
        aspect-ratio: unset;
        padding: 40px 20px;
        gap: 2rem;
    }

    .cardImage {
        width: 60px;
    }

    .text p {
        margin-top: 5px;
    }
}

@media screen and (width<800px) {
    .about {
        flex-direction: column;
        width: 100%;
    }

    .aboutImage {
        width: 100%;
        height: 180px;
        /* aspect-ratio: 16/9; */
    }

    .middle {
        right: 0;
        top: 0%;
        left: unset;
        display: none;
    }

    .aboutText {
        margin-top: 40px;
        width: 100%;
        padding-left: 0;
    }

    .aboutP {
        align-items: flex-start;
    }

    .ad {
        width: 100%;
        height: max-content;
        aspect-ratio: 16/9;
        margin-top: 1.5dvw;
        /* padding: 100px; */
    }



    .adText h2 {
        font-size: 120%;
        text-align: center;
        line-height: 150%;
    }

    .adText p {
        font-size: 100%;
        line-height: 150%;
        text-align: center;
        padding: 0 10px;
    }

    .adText {
        /* margin-top: 50px; */
        gap: 10px;
    }

    .adText button {
        font-size: 100%;
        padding: 10px;
    }

    .adImage {}
}