.heroSection {
    width: 100%;
    height: 60vh;
    position: relative;
}

.heroBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroBackground img {
    height: 120%;
    width: 120%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.heroWrapper {
    width: 1100px;
    height: 100%;
    margin: auto;
    position: relative;
}

.heroText {
    position: absolute;
    left: 0;
    top: 80%;
    z-index: 1;
    transform: translate(0, -50%);
}

.heroText h1 {
    font-size: 38px;
    color: white;
    font-weight: 700;
    width: 100%;
}

.heroText h1 a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.heroText p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5rem;
}



.heroText button:nth-child(1) {
    color: white;
    background: #FC5E28;
}

.heroText button:nth-child(2) {
    color: black;
    background: white;
}

@media screen and (width<1100px) {
    .heroWrapper {
        width: 990px;
    }
}

@media screen and (width<990px) {
    .heroBackground {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .heroWrapper {
        width: 800px;
    }
}

@media screen and (width<800px) {
    .heroWrapper {
        width: 95%;
    }
}