.footer {
    width: 100%;
    height: max-content;
    padding: 5rem 0;
    background: #030918;
}

.footerWrapper {
    width: 1100px;
    margin: auto;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footerList {
    width: calc(100% / 4);
}

.footerList h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.footerList ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footerList ul li {
    font-weight: 400;
    color: gray;
    list-style: none;
}

.footerList ul li a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 15px;
    line-height: 1.8rem;
}

.footerList ul li:hover {
    color: #FC5E28;
}

.footerList p {
    width: 100%;
    font-size: 15px;
    color: grey;
    line-height: 1.8rem;
}

.socials {
    display: flex;
    margin-top: 10px;
    gap: 2.5px;
}

.svgContainer {
    height: 30px;
    width: 30px;
    background: #1E273C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;
}

@media screen and (width<1100px) {
    .footerWrapper {
        width: 990px;
    }
}

@media screen and (width<990px) {
    .footerWrapper {
        width: 800px;
    }

    .footerList {
        width: 50%;
        padding: 15px;
    }
}

@media screen and (width<800px) {
    .footerWrapper {
        width: 100%;
    }

    .footerList {
        width: 95%;
        margin: auto;
    }

    .footerList ul li {
        width: max-content;
    }

    .footerList p {
        width: 100%;
        line-height: normal;
        margin: 20px 0;
    }
}