.navbarWrapper {
    width: 100dvw;
    height: max-content;
    background: white;
    position: relative;
}

.upper {
    width: 1100px;
    height: 120px;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 25%);
}


.accordion {
    position: absolute;
    width: 100%;
    background: #040E26;
    padding: 0.3rem 0;
    /* left: 50%; */
    /* transform: translate(-50%); */
}

.accordionWrapper {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionWrapper span {
    color: rgb(141, 141, 141);
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
}

.accordionWrapper button {
    padding: 10px 10px;
    background: #FC5E28;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.acwu {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.acwu>div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.svgContainer {

    height: 30px;
    width: 30px;
    background: #1E273C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;
}

.acwu svg {
    pointer-events: none;
    user-select: none;

}

.logo {
    font-weight: 900;
}

.upper img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    user-select: none;
}

.upper .svgContainer {
    border-radius: 0;
    height: 40px;
    width: 40px;
    background: white;
    border: 1px solid rgb(222, 222, 222);
    cursor: default;
}

.upper p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.upper p:nth-of-type(2) {
    color: grey;
    font-weight: 400;
}

.upper span {
    color: #FC5E28;
}

.upperIn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar {
    position: relative;
    z-index: 100;
    width: 100%;
    background: #040E26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    transform: translateY(50%);
}

.navbar ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    height: 100%;
    list-style: none;
}

.navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.active {
    background: #FC5E28;
}

.navbarInner {
    width: 1100px;
    margin: auto;
}

.inquiryButton button {
    font-weight: 600;
    padding: 10px 10px;
    background: #1E273C;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (width<1100px) {
    .upper {
        width: 990px;
    }

    .accordionWrapper {
        width: 990px;
    }

    .navbarInner {
        width: 990px;
    }
}
@media screen and (width<990px) {
    .upper {
        width: 800px;
    }

    .accordionWrapper {
        width: 800px;
    }

    .navbarInner {
        width: 800px;
    }
}